@using Smeuj.Platform.Domain

@code {

    [Parameter]
    public Smeu[] Smeuj { get; set; } = Array.Empty<Smeu>();

}

@foreach (var smeu in Smeuj) {
    <article class="h-full rounded-lg border border-gray-700 p-4 hover:border-pink-600 mt-2 bg-stone-200 pt-5 pb-5">
        <h3 class="font-extrabold leading-none tracking-tight text-gray-900 text-center w-full">@smeu.Value</h3>
    </article>
}