@using Smeuj.Platform.App.Lib.Version
@inherits LayoutComponentBase
@inject VersionOptions VersionOptions

<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Onze rijke en immer groeiende collectie aan smeuj. Smeuïg tot op de bodem!">
    <base href="/"/>
    <link async defer rel="stylesheet" href="css/app.min.css?@VersionOptions.CacheBusting"/>
    <link async defer rel="icon" type="image/png" href="favicon.webp"/>
    <script defer src="/js/htmx.min.js?@VersionOptions.CacheBusting"></script>
    <HeadOutlet/>
</head>
<body class="bg-bleh">
<div class="not-italic flex flex-col min-h-screen">
    <div class="mx-auto flex-grow max-w-8xl">
        @Body
    </div>
    <footer class="h-12 border-t-2 mt-2">
        <div class="container mx-auto max-w-8xl">
            <div class="flex justify-between mt-2">
                <a href="https://github.com/smeuj/platform">Github</a>
                <span class="md:visible invisible ">Gemaakt met liefde voor de Nederlandse taal.</span>
                <a href="mailto:info@Smeuj.nl">Mail Ons</a>
            </div>
        </div>
    </footer>
</div>
</body>
</html>